<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>F2E_01 todoList</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css'/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" />  
  <link rel="stylesheet" href="./style/f2e_01.css">
</head>
<body>
  <div id="todoList">
      <nav class="todo-header">
        <div class="container">
            <ul>
              <li class="active"><a href="javascript:;">My Tasks</a></li>
              <li><a href="javascript:;">In Progress</a></li>
              <li><a href="javascript:;">Completed</a></li>
            </ul>
        </div>
      </nav>
      <div class="todo-container">
        <div class="container">
            <div class="new-task">
                <div class="add-task-btn">
                  <i class="icon-add"></i> Add Task
                </div>
                <div class="todo-task add-task-content">
                    <div class="todo-task-title">
                      <div class="task-checkbox">
                        <input type="checkbox" name="checkbox" id="checkbox">
                        <label for="checkbox">
                            <i class="fas fa-check"></i>
                        </label>
                      </div>
                      <div class="task-something">
                        <input type="text" class="something-title" value="Type Something Here…" />
                      </div>
                      <div class="task-importance">
                        <a href="javascript:;" class="importance" v-on:click="stared(index)">
                          <i class="far fa-star"></i>
                          <i class="fas fa-star"></i>
                        </a>
                      </div>
                      <div class="task-edit">
                        <a href="javascript:;" class="edit" v-on:click="editing(index)">
                          <i class="fas fa-pencil-alt"></i>
                        </a>
                      </div>
                    </div>
                    <div class="todo-task-content">
                      <div class="edit-content">
                        <div class="edit-item deadline">
                          <h3 class="title">
                              <i class="far fa-calendar-alt"></i>
                              Deadline
                          </h3>
                          <div class="input-group">
                            <input type="date" class="deadline-date" />
                            <input type="time" class="deadline-time" />
                          </div>
                        </div>
                        <div class="edit-item files">
                          <h3 class="title">
                              <i class="far fa-file"></i>
                              File
                          </h3>
                          <div class="input-group">
                            <label class="upload-btn">
                              <i class="icon-add"></i>
                              <input type="file" name="file">
                            </label>     
                          </div>
                        </div>
                        <div class="edit-item comments">
                          <h3 class="title">
                              <i class="far fa-comment-dots"></i>
                              Comment
                          </h3>
                          <textarea name="comment" class="comment"></textarea>
                        </div>
                      </div>
                      <div class="btn-content">
                        <a href="javascript:;" class="btn btn-cancel">
                          <i class="icon-cancel"></i>
                          Cancel
                        </a>
                        <a href="javascript:;" class="btn btn-add">
                          <i class="icon-add"></i>
                          Add Task
                        </a>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="normal-tasks">
                <div class="todo-task" v-for="(task, index) in tasks">
                    <div class="todo-task-title">
                      <div class="task-checkbox">
                        <input type="checkbox" name="checkbox" id="checkbox">
                        <label for="checkbox">
                            <i class="fas fa-check"></i>
                        </label>
                      </div>
                      <div class="task-something">
                        <h2 class="something-title">
                            {{task.name}}
                        </h2>
                        <div class="something-detail">
                          <div class="date">
                            <i class="far fa-calendar-alt"></i>
                            <span>{{task.date}}</span>
                          </div>
                          <div class="file">
                            <i class="far fa-file"></i>
                          </div>
                          <div class="comments">
                            <i class="far fa-comment-dots"></i>
                          </div>
                        </div>
                      </div>
                      <div class="task-importance">
                        <a href="javascript:;" class="importance" v-on:click="stared(index)">
                          <i class="far fa-star"></i>
                          <i class="fas fa-star"></i>
                        </a>
                        <!-- <input type="checkbox" name="importance" id="importance">
                        <label for="importance">
                          <i class="far fa-star"></i>
                          <i class="fas fa-star"></i>
                        </label> -->
                      </div>
                      <div class="task-edit">
                        <a href="javascript:;" class="edit" v-on:click="editing(index)">
                          <i class="fas fa-pencil-alt"></i>
                        </a>
                      </div>
                    </div>
                    <div class="todo-task-content">
                      
                    </div>
                  </div>
            </div>            
        </div>
      </div>


  </div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js'></script>
  <script>
    new Vue({
      el: '#todoList',
      data: {
        input: '',
        tasks: [
          {
            "id": 1,
            "name": "Type Something Here…",
            "date": "2018/06/22",
            "time": "上午02:30",
            "files": [],
            "comment": "",
            "isStared": false
          },
          
        ]
      },
      methods: {},
      mounted () {

      }
    })
  </script>
</body>
</html>