@charset "UTF-8";
html {
  font-size: 16px;
  font-family: "Roboto Reguler", Arial, 微軟正黑體;
}

@media (max-width: 565px) {
  html {
    font-size: 14px;
  }
}

.todo-header ul li a, .todo-task .todo-task-title .task-something .something-title {
  font-size: 24px;
  font-size: 1.5rem;
}

.todo-task-content .edit-content .edit-item .title {
  font-size: 20px;
  font-size: 1.25rem;
}

.container {
  max-width: 620px;
}

a:hover {
  text-decoration: none;
}

button, input, textarea, select {
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  background-color: inherit;
  cursor: pointer;
}

button:focus, input:focus, textarea:focus, select:focus {
  outline: 0;
}

/* #todoList */
#todoList, body {
  background-color: #e1e1e1;
}

/* todoList nav */
.todo-header {
  background-color: #4a90e2;
}

.todo-header ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.todo-header ul li a {
  display: block;
  padding: 1.5625rem;
  color: #00408b;
  -webkit-transition: 0.3s color cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: 0.3s color cubic-bezier(0.445, 0.05, 0.55, 0.95);
  position: relative;
}

.todo-header ul li a:after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background-color: #00408b;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-transition: 0.3s width cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: 0.3s width cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.todo-header ul li.active a, .todo-header ul li:hover a {
  color: #ffffff;
}

.todo-header ul li.active a:after, .todo-header ul li:hover a:after {
  width: 100%;
}

@media (max-width: 565px) {
  .todo-header ul li a {
    padding: 0.625rem;
    font-size: 18px;
    font-size: 1.125rem;
  }
}

/* .todo-container */
.todo-container {
  padding: 1.375rem 0;
}

/* .todo-item */
.todo-task {
  width: 100%;
  position: relative;
  background-color: #f2f2f2;
  margin: 8px 0;
}

.todo-task .todo-task-title {
  width: 100%;
  padding: 1.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.todo-task .todo-task-title > div {
  padding: 0 0.5rem;
}

.todo-task .todo-task-title .task-checkbox {
  position: relative;
  width: 2.5rem;
}

.todo-task .todo-task-title .task-checkbox input {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.todo-task .todo-task-title .task-checkbox input:checked + label {
  opacity: 1;
}

.todo-task .todo-task-title .task-checkbox label {
  width: 1.5rem;
  height: 1.5rem;
  opacity: 0;
  background-color: #4a90e2;
  border-radius: 2px;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
  -webkit-transition: 0.3s opacity cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: 0.3s opacity cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.todo-task .todo-task-title .task-checkbox label i {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 1.5rem;
}

.todo-task .todo-task-title .task-importance, .todo-task .todo-task-title .task-edit {
  width: 2.1875rem;
}

.todo-task .todo-task-title .task-something {
  width: calc(100% - 6.875rem);
  overflow: hidden;
}

.todo-task .todo-task-title .task-something .something-title {
  font-family: "Roboto Medium", Arial, 微軟正黑體;
  color: #000000;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
}

.todo-task .todo-task-title .task-something .something-title:disabled {
  cursor: default;
}

.todo-task .todo-task-title .task-something .something-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 0.5rem;
}

.todo-task .todo-task-title .task-something .something-detail > div {
  margin-right: 1rem;
}

.todo-task .todo-task-title .task-something .something-detail > div > i {
  margin-right: 0.5rem;
}

.todo-task .todo-task-title .task-importance > a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.todo-task .todo-task-title .task-importance > a > i {
  position: absolute;
  top: 3px;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-transition: 0.3s opacity cubic-bezier(0.445, 0.05, 0.55, 0.95), 0.3s color cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: 0.3s opacity cubic-bezier(0.445, 0.05, 0.55, 0.95), 0.3s color cubic-bezier(0.445, 0.05, 0.55, 0.95);
  color: #000000;
}

.todo-task .todo-task-title .task-importance > a .fas {
  opacity: 0;
}

.todo-task .todo-task-title .task-importance input {
  width: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
}

.todo-task .todo-task-title .task-importance input:checked + label .fas {
  opacity: 1;
  color: #f5a623;
}

.todo-task .todo-task-title .task-importance label {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  cursor: pointer;
}

.todo-task .todo-task-title .task-importance label i {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-transition: 0.3s opacity cubic-bezier(0.445, 0.05, 0.55, 0.95), 0.3s color cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: 0.3s opacity cubic-bezier(0.445, 0.05, 0.55, 0.95), 0.3s color cubic-bezier(0.445, 0.05, 0.55, 0.95);
  text-align: center;
  line-height: 1.5rem;
}

.todo-task .todo-task-title .task-importance label .fas {
  opacity: 0;
}

.todo-task .todo-task-title .task-edit .edit {
  -webkit-transition: 0.3s color cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: 0.3s color cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.todo-task .todo-task-title .task-edit .edit:hover {
  color: #4a90e2;
}

@media (max-width: 565px) {
  .todo-task .todo-task-title {
    padding: 1rem;
  }
  .todo-task .todo-task-title .task-something .something-title {
    font-size: 1.2rem;
  }
}

/* .todo-item-content */
.icon-cancel {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  position: relative;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.icon-cancel:before, .icon-cancel:after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #d0021b;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: -1px auto 0 auto;
}

.icon-cancel:before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.icon-add {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  position: relative;
}

.icon-add:before, .icon-add:after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: -1px auto 0 auto;
}

.icon-add:before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.todo-task-content {
  display: none;
}

.todo-task-content .edit-content {
  width: 70%;
  max-width: 445px;
  padding: 0.5rem 0;
  margin: auto;
}

.todo-task-content .edit-content .edit-item {
  margin-bottom: 1.375rem;
}

.todo-task-content .edit-content .edit-item .title {
  position: relative;
  padding-left: 8px;
  margin-bottom: 10px;
}

.todo-task-content .edit-content .edit-item .title i {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%) translateY(3px);
          transform: translateX(-100%) translateY(3px);
}

.todo-task-content .edit-content .edit-item .input-group {
  padding: 0 8px;
}

.todo-task-content .edit-content .edit-item .input-group input, .todo-task-content .edit-content .edit-item .input-group textarea {
  background-color: #ffffff;
  border-radius: 2px;
}

.todo-task-content .edit-content .edit-item.deadline .input-group input {
  color: #c8c8c8;
  width: calc(50% - 8px);
  height: 2.1875rem;
  margin-right: 8px;
}

.todo-task-content .edit-content .edit-item.files .input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.todo-task-content .edit-content .edit-item.files .input-group .upload-btn {
  width: 32px;
  height: 32px;
  background-color: #757575;
  color: #ffffff;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
  margin: 0 5px 5px 0;
  cursor: pointer;
  -webkit-transition: 0.3s background-color cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: 0.3s background-color cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.todo-task-content .edit-content .edit-item.files .input-group .upload-btn:hover {
  background-color: #9b9b9b;
}

.todo-task-content .edit-content .edit-item.files .input-group .upload-btn input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}

.todo-task-content .edit-content .edit-item.comments .comment {
  width: 100%;
  height: 7.5rem;
  background-color: #ffffff;
  border-radius: 2px;
  margin: 0 8px;
  padding: 5px 10px;
  resize: none;
}

.todo-task-content .btn-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.todo-task-content .btn-content .btn {
  width: 50%;
  padding: 1rem;
  text-align: center;
  border-radius: 0;
}

.todo-task-content .btn-content .btn-cancel {
  color: #d0021b;
  background-color: #ffffff;
}

.todo-task-content .btn-content .btn-add {
  color: #ffffff;
  background-color: #4a90e2;
}

.todo-task-content .btn-content .icon-cancel, .todo-task-content .btn-content .icon-add {
  margin-top: -4px;
  margin-right: 5px;
}

/* .todo-task editing */
.todo-task.editing {
  border-radius: 5px;
}

.todo-task.editing .todo-task-title {
  border-bottom: 2px solid #757575;
}

.todo-task.editing .todo-task-content {
  display: block;
}

.new-task .add-task {
  width: 100%;
  height: 4.0625rem;
  background-color: #ffffff;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #c8c8c8;
}

.new-task .add-task i {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  position: relative;
  margin-right: 10px;
}

.new-task .add-task i:before, .new-task .add-task i:after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #c8c8c8;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: -1px auto 0 auto;
}

.new-task .add-task i:before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.new-task.editing .todo-task-content {
  display: block;
}
/*# sourceMappingURL=f2e_01.css.map */