@charset 'utf-8';

@import './mixin/_rem.scss';
@import './mixin/_ceaser-easings.scss';

$lightblue: #4a90e2;
$deepblue: #00408b;
$red: #d0021b;
$yellow: #f5a623;
$lightyellow: #fff2dc;
$lightgray: #f2f2f2;
$mediumgray: #c8c8c8;
$deepgray: #757575;
$gray: #e1e1e1;
$white: #ffffff;
$black: #000000;

$font: 'Roboto Reguler', Arial, 微軟正黑體;
$font-m: 'Roboto Medium', Arial, 微軟正黑體;

$radius: 2px;

html{
  font-size: 16px;
  font-family: $font;
}

@media (max-width: 565px) {
  html{
    font-size: 14px;
  }
}

%font-24{
  @include fz(24px);
}  

%font-20{
  @include fz(20px);
}  

%font-16{
  @include fz(16px);
}  

%fw-400{
  font-weight: 400;
}

%fw-800{
  font-weight: 800;
}

%font-italic{
  font-style: italic;
}

.container{
  max-width: 620px;
}

a{
  &:hover{
    text-decoration: none;
  }    
}

button, input, textarea, select{
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  background-color: inherit;
  cursor: pointer;
  &:focus{
    outline: 0;
  }
}


/* #todoList */

#todoList, body{
  background-color: $gray;
}

/* todoList nav */
.todo-header{
  background-color: $lightblue;
  ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    li{
      a{
        display: block;
        padding: rem(25px);
        color: $deepblue;
        transition: .3s color $easeInOutSine;
        @extend %font-24;
        position: relative;
        &:after{
          content: '';
          display: block;
          width: 0;
          height: 3px;
          background-color: $deepblue;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          transition: .3s width $easeInOutSine;
        }
      }        
      &.active,&:hover{
        a{
          color: $white;
          &:after{
            width: 100%;
          }
        }          
      } 
    }      
  }    
}

@media (max-width: 565px) {
  .todo-header{
    ul{
      li{
        a{
          padding: rem(10px);
          @include fz(18px);
        }
      }
    }
  }
}

/* .todo-container */

.todo-container{
  padding: rem(22px) 0;
}
          
/* .todo-item */    

.todo-task{
  width: 100%;
  position: relative;
  background-color: $lightgray;
  margin: 8px 0;
  .todo-task-title{
    width: 100%;
    padding: rem(25px);
    display: flex;
    > div{
      padding: 0 rem(8px);
    }
    .task-checkbox{
      position: relative;
      width: rem(40px);
      $w: rem(24px);
      input{
        width: $w;
        height: $w;
        background-color: $white;
        border-radius: $radius;
        cursor: pointer;
        &:checked{
          + label {
            opacity: 1;
          }
        }
      }
      label{
        width: $w;
        height: $w;
        opacity: 0;
        background-color: $lightblue;
        border-radius: $radius;
        color: $white;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        cursor: pointer;
        transition: .3s opacity $easeInOutSine;
        i{
          width: 100%;
          height: 100%;
          text-align: center;
          line-height: rem(24px);
        }
      }
    }
    .task-importance, .task-edit{
      width: rem(35px);
    }
    .task-something{
      width: calc(100% - 6.875rem);
      overflow: hidden;
      .something-title{
        @extend %font-24;
        font-family: $font-m;
        color: $black;
        line-height: 1;
        white-space: nowrap;
        overflow: hidden;
        &:disabled{
          cursor: default;
        }
      }
      .something-detail{
        display: flex;
        justify-content: flex-start;
        margin-top: 0.5rem;
        > div{
          margin-right: 1rem;
          > i{
            margin-right: 0.5rem;
          }
        }
      }
    }
    .task-importance{
      > a{
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        > i{
          position: absolute;
          top: 3px;
          left: 0;
          right: 0;
          margin: 0 auto;
          transition: .3s opacity $easeInOutSine, .3s color $easeInOutSine;
          color: $black;
        }
        .fas{
          opacity: 0;
        }
      }
      input{
        width: 0;
        height: 0;
        overflow: hidden;
        position: absolute;
        &:checked{
          + label {
            .fas{
              opacity: 1;
              color: $yellow;
            }
          }
        }
      }
      label{
        display: block;
        width: rem(24px);
        height: rem(24px);
        position: relative;
        cursor: pointer;
        i{
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          transition: .3s opacity $easeInOutSine, .3s color $easeInOutSine;
          text-align: center;
          line-height: rem(24px);
        }
        .fas{
          opacity: 0;
        }
      }
    }
    .task-edit{
      .edit{
        transition: .3s color $easeInOutSine;
        &:hover{
          color: $lightblue;
        }
      }
    }
  }
}
          
          
@media (max-width: 565px) {
  .todo-task{
    .todo-task-title{
      padding: 1rem;
      .task-something{
        .something-title{
          font-size: 1.2rem;
        }
      }
    }
  }
}

/* .todo-item-content */

@mixin plus($width: 15px, $color: inherit) {
  display: inline-block;
  vertical-align: middle;
  width: $width;
  height: $width;
  position: relative;  
  &:before, &:after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: $color;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: -1px auto 0 auto;    
  }
  &:before{
    transform: rotate(90deg);
  }
}

.icon-cancel{
  @include plus(15px, $red);
  transform: rotate(45deg);
}
.icon-add{
  @include plus(15px, $white);
}

.todo-task-content{
  display: none;
  .edit-content{
    width: 70%;
    max-width: 445px;
    padding: rem(8px) 0;
    margin: auto;
    .edit-item{
      margin-bottom: rem(22px);
      .title{
        position: relative;
        @extend %font-20;
        padding-left: 8px;
        margin-bottom: 10px;
        i{
          position: absolute;
          top: 0;
          left: 0;
          transform: translateX(-100%) translateY(3px);
        }
      }
      .input-group{
        padding: 0 8px;
        input, textarea{
          background-color: $white;
          border-radius: $radius;
        }
      }
      &.deadline{
        .input-group{
          input{
            color: $mediumgray;
            width: calc(50% - 8px);
            height: rem(35px);
            margin-right: 8px;
          }
        }
      }
      &.files{
        .input-group{
          display: flex;
          justify-content: flex-start;
          .upload-btn{
            width: 32px;
            height: 32px;
            background-color: $deepgray;
            color: $white;
            border-radius: $radius;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            overflow: hidden;
            margin: 0 5px 5px 0;
            cursor: pointer;
            transition: .3s background-color $easeInOutSine;
            &:hover{
              background-color: lighten($deepgray, 15%);
            }
            input{
              position: absolute;
              opacity: 0;
              width: 0;
              height: 0;
              overflow: hidden;
            }
          }
        }
      }
      &.comments{
        .comment{
          width: 100%;
          height: rem(120px);
          background-color: $white;
          border-radius: $radius;
          margin: 0 8px;
          padding: 5px 10px;
          resize: none;          
        }
      }
    }
  }
  .btn-content{
    display: flex;
    .btn{
      width: 50%;
      padding: 1rem;
      text-align: center;
      border-radius: 0;
    }
    .btn-cancel{
      color: $red;
      background-color: $white;
    }
    .btn-add{
      color: $white;
      background-color: $lightblue;
    }
    .icon-cancel, .icon-add{
      margin-top: -4px;
      margin-right: 5px;
    }
  }
}

/* .todo-task editing */

.todo-task.editing{
  border-radius: 5px;
  .todo-task-title{
    border-bottom: 2px solid $deepgray;
  }
  .todo-task-content{
    display: block;
  }
}
          

.new-task{
  .add-task{
    width: 100%;
    height: rem(65px);
    background-color: $white;
    padding: 1rem;
    display: flex;
    align-items: center;
    color: $mediumgray;
    i{
      @include plus(15px, $mediumgray);
      margin-right: 10px;
    }
  }
  &.editing{
    .todo-task-content{
      display: block;
    }
  }
}
          